<div
  class="container-fluid p-0 sp-check"
  style="position: relative; top: 0"
  onscroll="checkOffset()"
>
  <div
    id="carouselExampleControls"
    class="carousel slide carousel-dark carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" style="position: relative;">
        <img
          src="https://preview.colorlib.com/theme/cozastore/images/slide-03.jpg"
          class="d-block w-100"
          style="
            max-height: 100vh;
            min-height: 100vh;
            max-width: 100vw;
            min-width: 100vw;
          "
          alt="..."
        />
        <div class="style-one d-flex flex-column align-items-start" style="z-index:200 !important;display:inline-block;position: absolute;">
          <span>Men New-Season</span>
          <span>Jackets and Coats</span>
          <a href="/app/store" class="d-block"><button class="btn">Shop Now</button></a>
        </div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img
          src="https://preview.colorlib.com/theme/cozastore/images/slide-02.jpg.webp"
          class="d-block w-100"
          style="
            max-height: 100vh;
            min-height: 100vh;
            max-width: 100vw;
            min-width: 100vw;
          "
          alt="..."
        />
        <div class="style-one d-flex flex-column align-items-start" style="z-index:200 !important;display:inline-block;position: absolute;">
          <span>Men Collection 2023</span>
          <span>New Arrivals</span>
          <a href="/app/store" class="d-block"><button class="btn">Shop Now</button></a>
        </div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img
          src="https://preview.colorlib.com/theme/cozastore/images/slide-01.jpg.webp"
          class="d-block w-100"
          style="
            max-height: 100vh;
            min-height: 100vh;
            max-width: 100vw;
            min-width: 100vw;
          "
          alt="..."
        />
        <div class="style-one d-flex flex-column align-items-start" style="z-index:200 !important;display:inline-block;position: absolute;">
          <span>Women Collection 2023</span>
          <span>New Arrivals</span>
          <a href="/app/store" class="d-block"><button class="btn">Shop Now</button></a>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="conainer-fluid banner">
      <div class="ch-1">
        <img src="https://preview.colorlib.com/theme/cozastore/images/banner-01.jpg " alt="IMG-BANNER" />
        <a
          href="/app/store?_filt=clothing"
          class=""
        >
          <div class="text d-flex flex-column align-items-evenly">
            <span class=""> Clothes </span>
            <span class=""> Spring 2018 </span>
          </div>
          
        </a>
      </div>


      <div class="ch-1">
        <img src="https://media.istockphoto.com/id/1149654373/photo/creative-minimal-paper-idea-concept-white-shoe-with-white-background-3d-render-3d-illustration.jpg?s=612x612&w=0&k=20&c=Z1sy46GDIY5D7XI-eSvoRRlPmaMjmZpeRvFKNQVQFto=" alt="IMG-BANNER" />
        <a
          href="/app/store?_filt=shoes"
          class=""
        >
          <div class="text d-flex flex-column align-items-evenly">
            <span class="">Shoes</span>
            <span class=""> Spring 2018 </span>
          </div>
        </a>
      </div>


      <div class="ch-1">
        <img src="https://preview.colorlib.com/theme/cozastore/images/banner-03.jpg" alt="IMG-BANNER" />
        <a
          href="/app/store?_filt=watch"
          class="text-decoration-none"
        >
          <div class="text d-flex flex-column align-items-evenly">
            <span class="">
              Accessories
            </span>
            <span class="">Shoes</span>
          </div>
          
        </a>
      </div>

</div>
