<div class="container-fluid " style="position: relative;top:14vh;">
    
    <div class="row">
        <div class="col-2">
            
            <div class="d-flex flex-column flex-shrink-0 p-3 text-dark " style="width: 280px;height: 100%;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  <span class="fs-4">filter</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="/app/store" class="nav-link text-dark" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      All
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/app/store?_filt=clothing" class="nav-link text-dark" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      Clothes
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/app/store?_filt=watch" class="nav-link text-dark" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      watches
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/app/store?_filt=shoes" class="nav-link text-dark" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      Shoes
                    </a>
                  </li>

                </ul>
                
                
              </div>



        </div>
        <div class="col-9  d-flex justify-content-evenly align-items-evenly flex-wrap productCards">
            <% let data=productData%>
            <% if(data.length==0) { %>
                <h1>No Product to show</h1>
            <%} else{ %>
                <% data.forEach(function(ele){ %>
                    <div class="card bg-light" align="center">
                        <img src="/<%=ele.image.fileName %>" class="card-img-top imageStyle" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <% let eleName=ele.name %>
                                <% if(eleName.length>40) {%>
                                    <%eleName=eleName.slice(0,40)+"..."%>
                                <%}%>
                                <%=eleName%>
                            </h5>
                            <p class="card-text">Rs <%=ele.price%></p>
                            <a href="/app/store/product/<%=ele.pid%>" class="btn btn-primary">show More</a>
                        </div>
                    </div>
                <%})%>
            <%}%>
        </div>
        <div class="col-1">

        </div>
    </div>
    
</div>