<div class='container-fluid w-50' style="position:relative;top:39vh;margin-bottom: 40%;"> 
    <form action="/app/login" method="post">
        <div class="mb-3">
            <label for="#log">Username/Email</label>
            <input id="log" type="text" class="form-control w-100" name="userName">
        </div>
        <div class="mb-3">
            <label for="#reg">Password</label>
            <input id="reg" type="password" class="form-control w-100 " name="userPass">
        </div>
        <button class="btn btn-primary">
            login
        </button>   
    </form>
</div>