<div class="container-fluid position-fixed p-0 navbar-check bg-secondary" style="z-index: 2;top:0px" >
    <nav class="navbar navbar-expand-lg bg-transparent sp-c">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold fs-3" style="margin:0.5%;margin-left: 10%;" href="/">Bablu Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="margin-left:5%;" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="/app">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold ms-4" href="/admin/AddProducts">Add Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold ms-4" href="/admin/MyProducts">My Products</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item m-2">
                <a class="nav-link " aria-current="page" href="/app/logout">logout</a>
            </li>
            </ul>
            
          </div>
        </div>
      </nav>
</div>